@model _3_Consume_API_Fetch_API__Client.Models.Category

@{
    ViewBag.Title = "Edit";
}

<script src="~/Scripts/jquery-3.7.1.min.js"></script>

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Category</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Rating, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Rating, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Rating, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button"  id="btnSave" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


<script>

    $(function () {

        $.ajax({

            url: `https://localhost:44371/api/category/${@ViewBag.getData}`,
            type: 'GET',
            success: function (response) {

                $('#Id').val(response.Id);
                $('#Name').val(response.Name);
                $('#Rating').val(response.Rating);

            },
            error: function(reason){

                alert('api call failed')
            }
        });

        $('#btnSave').click(function () {
            var obj = {
                Id: $('#Id').val(),
                Name: $('#Name').val(),
                Rating: $('#Rating').val(),
            };
            $.ajax({
                url: `https://localhost:44371/api/category/${@ViewBag.getData}`,
                type: 'PUT',
                data: JSON.stringify(obj),
                contentType: 'application/json',
                dataType: 'json',
                success: function () {
                    window.location.href = "/categoryJs/Index";
                },
                error: function () {
                    alert(`Category Creation Failed`);
                }
            });
        })
    })


</script>